---
import Layout from '../layouts/Layout.astro';
import OffreCard from '../components/OffreCard.astro';
import { getOffres } from '../backend.mjs';

const offres = await getOffres();
console.log(
 offres
);

---

<Layout titre="Offres">
    <button id="favori-button" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg">Afficher les favoris</button>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-8">
        {
            offres.map(offre => (
                <OffreCard
                    offre={offre}
                />
            ))
        }
    </div>
</Layout>